body{
  font-family: sans-serif;
 

  }
#main{
  width:100%;
  height: 100%;
  background:rgb(216, 104, 104);

  }
  #log{
  max-width: 60%;
  min-width: 70%;
  height:100%;
  background: rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;

  
  }
  img{
    max-width:150px;
    margin-left:190px;
    position: absolute;
    left: 36%;
    bottom: 100%;
    transform: translate(-100%, 110%);
    z-index: -1;
  }
  #p1{
    font-size: 1.5rem;
    letter-spacing: 0.125rem;
    margin: 180px 0px 0px 34%;
    
    
  }
  #t1{
    width:70%;
    height: 2.813rem;
    margin-left: 8rem;
    margin-top: 30px;
    border: none;
    outline: none;
    background-color: whitesmoke;
    border-radius: 0.938rem;
  }
  
  #t2{
    width:70%;
    height: 2.813rem;
    margin-left: 8rem;
    margin-top: 10px;
    border: none;
    outline: none;
    background-color: whitesmoke;
    border-radius: 0.938rem;
  }
  #t3{
    width:70%;
    height: 2.813rem;
    margin-left: 8rem;
    margin-top: 10px;
    border: none;
    outline: none;
    margin-top: 0.625rem;
    border-radius: 0.938rem;
    font-family:  'Arial Narrow', Arial, sans-serif;
    color: white;
    background:rgb(29, 161, 242);
    font-size: 1.125rem;
  }
  ::placeholder{
    font-size: 1.063rem;
    word-spacing: 0.125rem;
  }
  #p6{
    margin-left: 35%;
    margin-top: 10px;
    word-spacing: 0.125rem;
    font-family:  'Arial Narrow', Arial, sans-serif;
    color:rgb(29, 161, 242);
  }
  #a2{
    margin-left: 0.625rem;
  }
  a:link{
  olor: rgb(29, 161, 242) ;
}
  a:visited{
  color: rgb(29, 161, 242) ;
}