body{
  font-family: sans-serif;
}
#main{
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  }
#sign{
  max-width: 60%;
  min-width: 70%;
  height: 100%;
  background: rgb(255, 255, 255);
  margin-left: 40px;
  }
img{
    width:90px;
    height: 90px;
    position: absolute;
    top: 0px;
    

    
    
  }
#join{
    margin-top: 90px;
    font-size:30px;
    font-weight: bolder;
    word-spacing: 2px;
    letter-spacing: 2px;
   
  }
#N1{
  min-width: 80%;
  height: 40px;
  border-color: rgb(245, 240, 240);
  }
#N1:focus-visible{
      background: whitesmoke;
  }
#N2{
  min-width: 80%;
  height: 40px;
  border-color: rgb(245, 240, 240);
  }
#N2:focus-visible{
  background: whitesmoke;
  }
#N3{
  min-width: 80%;
  height: 40px;
  border-color: rgb(245, 240, 240);
  }
#N3:focus-visible{
  background: whitesmoke;
  }
#N4{
      margin-top: 15px;
  }
#N4:focus-visible{
  background: whitesmoke;
  }
#write1{
  word-spacing: 2px;
  font-size: 100%;
  }
a:link{
    color: rgb(29, 161, 242) ;
  }
a:visited{
    color: rgb(29, 161, 242) ;
  }
#N5{
  min-width: 82%;
  height: 40px;
  margin-top: 20px;
  font-size: 19px;
  font-weight: bolder;
  color: white;
  background: rgb(29, 161, 242);
  border: none;
  outline: none;
  border-radius: 20px;
  }
#write2{
  word-spacing: 2px;
  font-size: 100%;
  margin-top: 20px;
  }
#write3{
    font-family:  'Arial Narrow', Arial, sans-serif;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-size: 18px;
  }